body{
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .container{
    margin: 10px;
  }
  
  .row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .live-data{
    background: #03D29F;
    position: relative;
    flex: 1;
    max-width: 950px;
    height: 70px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-items: center;
  }

  #temp{
    color: #eb4319;
  }
  #soil-moisture{
    color: #ff7626;
  }
  #humidity{
    color: rgb(6, 132, 136);
  }
  #status{
    color: #19ff25;
  }
  #mode{
    margin: 10px;
    padding-top: 35px;
    padding-left: 80px;
  }
  #manual{
    color: #eb4319;
  }
  #manual:hover{
    color: #6495ED;
    cursor: pointer;
  }
  #force{
    padding-top: 30px;
    padding-left: 30px;
    color: #007267;
  }

  button{
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover{
    opacity: 0.8;
  }
  button:active{
    opacity: 0.5;
  }
  #current-preset{
    padding-left: 120px;
    color: #DE3163;
  }
  #cp{
    padding-left: 50px;
    color: #ee6939;
  }
  
  #var-temp{
    color: #03D29F;
  }
  #var-soil-moisture{
    color: #FF7675;
  }
  #var-humidity{
    color: blue;
  }
  .card-02{
    background: #50A7FF;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .card-03{
    background: #FF7675;
    position: relative;
    flex: 1;
    max-width: 940px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .card-11{
    background: #50fff0;
    position: relative;
    flex: 1;
    max-width: 100%;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .card-12{
    background: #8ddaf1;
    position: relative;
    flex: 1;
    max-width: 60%;
    height: 100px;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width:800px){
    .card-01{
      flex: 100%;
      max-width: 600px;
    }
  
    .card-02{
      flex: 100%;
      max-width: 600px;
    }
  
    .card-03{
      flex: 100%;
      max-width: 600px;
    }
  }